@import "tailwindcss";

:root {
  --background: #F1811F;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-league: var(--font-league-gothic);
  --font-dela: var(--font-dela-gothic-one);

  --color-musubi-orange: #f1811f;
  --color-musubi-maroon: #6d3131;
  --color-musubi-green: #133619;
  --color-musubi-brown: #583c23;
  --color-musubi-gold: #f5da6f;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #F1811F;
    --foreground: #171717;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
